<% include partials/header %>
<link rel="stylesheet" type="text/css" href="about.css">
<h1><i class="fas fa-code two"></>

<p>I am a self-taught developer, using free time to learn application development whenever possible. I have completed various course work and bootcamps with exposure to multiple frameworks and libraries(not all are listed below). Core Technologies and Principles:</p>

<hr class="divider"> 

<table>
	<thead>
		<tr>
			<th>Techology</th>
			<th>Experience</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>HTML</td>
			<td> > 1 year </td>
		</tr>
		<tr>
			<td>CSS</td>
			<td> > 1 year </td>
		</tr>
		<tr>
			<td>Javascript</td>
			<td> > 1 year </td>
		</tr>
		<tr>
			<td>Python</td>
			<td> < 1 year </td>
		</tr>
		<tr>
			<td>C#</td>
			<td> < 1 year </td>
		</tr>
		<tr>
			<td>PHP</td>
			<td> < 1 year </td>
		</tr>
		<tr>
			<td>MongoDB</td>
			<td> < 1 year </td>
		</tr>
		<tr>
			<td>MySQL</td>
			<td> < 1 year </td>
		</tr>
		<tr>
			<td>Sqlite</td>
			<td> < 1 year </td>
		</tr>
		<tr>
			<td>OOP</td>
			<td> < 1 year </td>
		</tr>
		<tr>
			<td>RESTful</td>
			<td> < 1 year </td>
		</tr>
		<tr>
			<td>CRUD</td>
			<td> < 1 year </td>
		</tr>

	</tbody>
</table>

<hr class="divider"> 

<p>
My intent is to transition to software development full-time. I have spent the last 10 years in various Sales roles, the majority of which has been closely linked to the IT Industry. I am very passionate about learning as much as I can to improve my skillset and increase my knowledge of all things related to Computer Science. Please contact me below to learn more or set a time where we can meet to discuss any opportunities. </p>

<div class="contact">
<a href="mailto:clbfshr@yahoo.com?subject=Contact" class="contactme">Please Contact Me Here!!!</a>
</div

