<% include partials/header %>


<ul class="circle">
  <li>
    <div class="text" id="html">HTML</div>
  </li>
  <li>
    <div class="text" id="css">CSS</div>
  </li>
  <li>
    <div class="text" id="javascript">Javascript</div>
  </li>
  <li>
    <div class="text" id="express">Express</div>
  </li>
  <li>
    <div class="text" id="mongodb">MongoDB</div>
  </li>
  <li>
    <div class="text" id="php">PHP</div>
  </li>
  <li>
    <div class="text" id="c#">C#</div>
  </li>
  <li>
    <div class="text" id="bootstrap">Bootstrap</div>
  </li>
  <li>
    <div class="text" id="semantic_ui">Semantic UI</div>
  </li>
  <li>
    <div class="text" id="java">Java</div>
  </li>
  <li>
    <div class="text" id="jQuery">jQuery</div>
  </li>
  <li>
    <div class="text" id="oop">OOP</div>
  </li>

  </ul>

  
<h1 id="techList">Select One to find out more.</h1>

<p class="wheel_description"> The technology wheel above shows some of the languages, frameworks, and databases I have experience with through various coursework and projects. The brief description and image that is displayed to the screen when clicking is served from MongoDB.</p>

<script>var myVar = <%- JSON.stringify(description) %></script>
<script type="text/javascript" src="../home.js"></script>




