<% include partials/header %>
<link rel="stylesheet" type="text/css" href="interest.css">

<p>I enjoy spending time with family/friends, attempting to play golf, coding, learning, working out and watching sports.</p>