<link rel="stylesheet" type="text/css" href="../search.css">
<img src="http://techmaza.org/wp-content/uploads/2013/12/imdb1.jpg">
<h1>Search for a Movie</h1>

<form action="/projects/results" method="GET">
    <input type="text" placeholder="search term" name="search">
    <input type="submit">
</form>

<a href="/projects">Exit</a>